wheel

-r requirements.txt

autopep8==1.5.7
black==21.6b0
boto3-stubs==1.17.75
coverage==5.5
databricks-cli==0.14.3
data-science-types==0.2.23
flake8==3.9.2
importlib-metadata==1.7.0
invoke==1.4.1
jsondiff==1.2.0
jsonpatch==1.28
